/* body{
    overflow-x: hidden;
    width: 100vw;
} */



.sea-img{
    width:100%;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.hanano-header{
    font-size: 128px;
    width: 871px;
    letter-spacing: 100px;
    
}
.headertext{    
    position: absolute;
    top: 53px;
    left: 116px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    opacity: 80%;
    font-weight: 100;

}
.profilesite{
    font-size: 40px;
    letter-spacing: 5px;
}

.line{
    background-color: white;
    width: 1px;
    height: 130px;
    margin-left: 100px;
    margin-right: 20px;
}

.SCROLL{
    display: flex;
    position: absolute;
    top: 1000px;
    left: 25px;
    font-size: 24px;
    font-family: "Times New Roman";
    letter-spacing: 3px;
    align-items: flex-end;
    color: white;
    opacity: 80%;
}

.SCROLL {
    margin: 0px;
}

.section1{
    background-color: #F5FAFE;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    padding: 100px; 
}

.leftbox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swimmingtext{
    margin: 0%;
}


.profile{
    font-family: "Times New Roman";
    font-size: 60px;
    color: #1F2F54;
    margin: 0;
    
    font-weight: 210px;
    letter-spacing: 10px;
    border-bottom: dotted 8px;
}

.rightbox{
    display: flex;
    font-size: 40px;
    font-family: 'Times New Roman';
    color: #1F2F54;
    gap: 120px;
    
}

.gakubutext{
    margin-bottom: 50px;
}



.swimmingtext{
    color: #1F2F54;
    font-family: 'Times New Roman', Times, serif;
    width: 137px;
    font-size: 20px;
   
}

.threepage{
    background-color: #CBDBEB;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.rightbox2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disneytext{
    font-family: 'Times New Roman', Times, serif;
    color: #1F2F54;
    font-size: 20px;
    margin: 0%;
}

.leftbox2{
    display: flex;
    gap: 190px;
    margin: 0px;
     font-family: 'Times New Roman';
    font-size: 40px;
    color: #1F2F54;
}


.ongakutext{
    margin-bottom: 200px;
}

.fourpage{
    background-color: #E7F4FC;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.hogwarts-img{
    margin: 0px;
}

.hogwartstext{
    transform: rotate(-90deg);
    font-family: 'Times New Roman', Times, serif;
    color: #1F2F54;
    font-size: 20px;
    margin: 0px;
}


.rightbox3{
    display: flex;
    gap: 190px;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: #1F2F54;
}

.animetext{
    margin-bottom: 200px;
}

.footer{
    background-color: #C6E3F5;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.footertext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    margin: 0px;
    display: flex;
    gap: 100px;
    padding-left: 100px;
    padding-bottom: auto;
}

